<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="console.thresholdFilter">${spring:logger.console.thresholdFilter}</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender">
            <ThresholdFilter level="${console.thresholdFilter}"/>
            <PatternLayout disableAnsi="false"
                           pattern="%highlight{%d %-5p [%t] %c{10} - %m%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=snow, DEBUG=cyan, TRACE=blue}"/>
        </Console>

        <RollingFile name="FileAppender"
                     fileName="./logs/log4j2.log"
                     filePattern="./logs/$${date:yyyy-MM}/log4j2-%d{dd-MMMM-yyyy}-%i.log.gz">
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="%d %-5p [%t] %c{10} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="ErrorFileAppender"
                     fileName="./logs/errors.log"
                     filePattern="./logs/$${date:yyyy-MM}/errors-%d{dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d %-5p [%t] %c{10} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="ru.t1consulting.charctercounter" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ErrorFileAppender" level="error"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Root>
    </Loggers>
</Configuration>